[submodule "Bootstrap-Dropdowns"]
	path = Bootstrap-Dropdowns
	url = https://github.com/JakeTeach/Bootstrap-Dropdowns.git
[submodule "Bootstrap-Sidebars"]
	path = Bootstrap-Sidebars
	url = https://github.com/JakeTeach/Bootstrap-Sidebars.git
[submodule "Bootstrap-Footers"]
	path = Bootstrap-Footers
	url = https://github.com/JakeTeach/Bootstrap-Footers.git
[submodule "Bootstrap-Features"]
	path = Bootstrap-Features
	url = https://github.com/JakeTeach/Bootstrap-Features.git
[submodule "Bootstrap_Heroes"]
	path = Bootstrap_Heroes
	url = https://github.com/JakeTeach/Bootstrap_Heroes.git
[submodule "Bootstrap_Headers"]
	path = Bootstrap_Headers
	url = https://github.com/JakeTeach/Bootstrap_Headers.git
[submodule "Bootstrap_ListGroups"]
	path = Bootstrap_ListGroups
	url = https://github.com/JakeTeach/Bootstrap_ListGroups.git
